{% load blogs_helpers helpers i18n markdown_extras %}

<div class="card mb-4">
  <div class="card-body">
    {% if post %}
    <div class="d-flex justify-content-between">
      <div class="post-card-header">
      {% if not is_detailed %}
      <a
        href="{% url 'post-details' post.url_hex  %}"
        class="text-decoration-none"
      >
      {% endif %}
        <h3 class="card-title text-break">{{ post.title }}</h3>
      {% if not is_detailed %}
      </a>
      {% endif %}
      </div>
      {% if user.is_authenticated and user == post.author %}
      <div class="no-wrap">
        <a href="{% url 'edit-post' post.url_hex %}" class="h4"><i class="bi bi-pencil-square"></i></a>
        <a href="#" class="delete-post h4 text-danger" data-url-hex="{{ post.url_hex }}">
          {% csrf_token %}
          <i class="bi bi-trash"></i>
        </a>
      </div>
      {% endif %}
    </div>
    {% if post.category %}
    <p>
      <span class="badge rounded-pill bg-secondary">{{ post.category }}</span>
    </p>
    {% endif %}
    <p class="text-muted">
      {% with subscribers_count=post.author.subscribers.count %}
      <a href="{% url 'user-post-list' user_id=post.author.id %}">{{ post.author.get_safe_full_name }}</a> <span class="subscribers-main{% if not subscribers_count %} d-none{% endif %}">({% trans "Subscribers" %}: <span class="subscribers-amount" data-user-id="{{ post.author.id }}">{{ subscribers_count }}</span>) </span>| {{ post.created_at }}{% if post.is_draft %} | {% trans "(Draft)" %}{% endif %}
      {% endwith%}
    </p>
    {% if is_detailed %}
    <p class="card-text">{{ post.content | markdown | safe }}</p>
    {% else %}
    <p class="card-text">{{ post.content | markdown | safe | truncatechars_html:500 }}</p>
    {% endif %}
    {% if not is_detailed %}
    <p>
      <a
        href="{% url 'post-details' post.url_hex  %}"
        class="btn btn-primary read-more-button"
      >
        {% trans "Read More" %} &rarr;
      </a>
    </p>
    {% endif %}
    <p>
    {% user_has_liked_post post user as has_liked_post %}
    {% user_has_subscribed user post.author as has_subscribed %}
    {% with likes_count=post.likes.count comments_amount=post.comments.count %}
    <button
      type="button"
      class="post-like-toggler btn btn-{% if has_liked_post %}dark{% else %}light{% endif %}"
      data-mdb-ripple-color="dark"
      data-url-hex="{{ post.url_hex }}"
      data-has-liked="{{ has_liked_post }}"
      {% if not user.is_authenticated %} disabled{% endif %}
    >
      {% csrf_token %}
      <i class="bi bi-hand-thumbs-up"></i>
      <span class="likes-amount{% if not likes_count %} d-none{% endif %}">{{ likes_count }}</span>
    </button>
    {% if user.id != post.author.id %}
    <button
      type="button"
      class="subscription-toggler btn btn-{% if has_subscribed %}dark{% else %}light{% endif %}"
      data-mdb-ripple-color="dark"
      data-user-id="{{ post.author.id }}"
      data-has-subscribed="{{ has_subscribed }}"
      {% if not user.is_authenticated %} disabled{% endif %}
    >
      {% csrf_token %}
      <span class="has-subscribed{% if not has_subscribed %} d-none{% endif %}">{% trans "Subscribed" %}</span>
      <span class="has-not-subscribed{% if has_subscribed %} d-none{% endif %}">{% trans "Subscribe" %}</span>
    </button>
    {% endif %}
    {% if not is_detailed %}
    <a
      href="{% url 'post-details' post.url_hex %}"
      type="button"
      class="btn btn-light"
      data-mdb-ripple-color="dark"
    >
      <i class="bi bi-chat-left-dots"></i>
      <span class="comments{% if not comments_amount %} d-none{% endif %}">{{ comments_amount }}</span>
    </a>
    {% endif %}
    {% endwith %}
    </p>
    {% else %}
    <h1>
      {% trans "Thanks for reaching me" %}
    </h1>
    {% trans "Hmm, could not find any content!" %}
    {% endif %}
  </div>
</div>
