{% extends 'accounts/base.html' %}

{% load helpers i18n static %}

{% block title %}{% if page_title %}{{ page_title }}{% else %}{% trans "Create post" %}{% endif %} | {% endblock %}

{% block content_row_col %}{% include "accounts/includes/form_col.html" with form=form %}{% endblock %}

{% block extrascripts %}
<script
  src="https://cdn.tiny.cloud/1/{% get_setting 'TINYMCE_API_KEY' %}/tinymce/6/tinymce.min.js"
  referrerpolicy="origin"
></script>
<script src="{% static 'blogs/editors.js' %}"></script>
{% endblock %}
