{% extends 'accounts/base.html' %}

{% load helpers i18n %}

{% block title %}{% trans "Password reset" %} | {% endblock %}

{% block content %}
<div class="container">
  {% has_success_message messages as has_success %}
  {% if not has_success %}
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3 left top">
      <div class="card-body">
        <p>{% trans "Here you can reset a password." %}</p>
        <p>{% trans "You can request a password change if you have not activated your password and your account will be activated after you set a new password." %}</p>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    {% include "accounts/includes/form_col.html" with form=form %}
  </div>
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3 left top">
      <div class="card-body">
        <p>{% trans "Don't have an account?" %} <a href="{% url 'sign-up' %}">{% trans "Sign Up!" %}</a></p>
        <p>{% trans "Already have an account?" %} <a href="{% url 'sign-in' %}">{% trans "Sign In!" %}</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
