{% extends 'accounts/base.html' %}

{% load helpers i18n %}

{% block title %}{% trans "Password reset" %} | {% endblock %}

{% block content_row_col %}
{% has_success_message messages as has_success %}
{% if not has_success %}
<div class="card mb-4">
  <div class="card-body">
    <p>{% trans "Here you can reset a password." %}</p>
    <p>{% trans "You can request a password change if you have not activated your password and your account will be activated after you set a new password." %}</p>
  </div>
</div>
{% endif %}
{% include "accounts/includes/form_col.html" with form=form %}
{% endblock %}

{% block content %}
{{ block.super }}
{% endblock content %}
