{% load i18n helpers %}

<p>
  {% trans "Hello" %} {{ user.username }},
</p>
<p>
  {% trans "To initiate the password reset process for your account, click the link below:" %}
</p>
<p>
  <a href="{{ project_url }}{% url 'reset-password-confirm' uidb64=uid token=token %}">
    {{ project_url }}{% url 'reset-password-confirm' uidb64=uid token=token %}
  </a><br />
  {% trans "If clicking the link above doesn't work, copy and paste the URL in a new browser window instead." %}
</p>
<p>
  {% translate "Sincerely," %}<br />
  {% get_setting 'PROJECT_NAME' %} {% translate "Team" %}
</p>
