{% load i18n static %}

{% block extrastyle %}
<link
  href="{% static 'accounts/sidebar.css' %}"
  rel="stylesheet"
/>
{% endblock %}

{% block sidebar %}
<div class="col-md-4 float-right">
  <div class="card my-4">
    {% if user.is_authenticated %}
    <h5 class="card-header">{% trans "Last news" %}</h5>
    <div class="card-body">
      <p class="card-text">
        {% blocktranslate %}My first file storage project.{% endblocktranslate %}
      </p>
      <a
        href="https://brosfiles.com"
        class="btn btn-danger"
        target="_blank"
      >
        {% trans "Check this out!" %}
      </a>
    </div>
    {% else %}
    <div class="card-body">
      <div class="card-text">
        <p>{% trans "Already have an account?" %} <a href="{% url 'sign-in' %}">{% trans "Sign In!" %}</a></p>
        <p>{% trans "Don't have an account?" %} <a href="{% url 'sign-up' %}">{% trans "Sign Up!" %}</a></p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock sidebar %}
